header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 *//* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color:white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

/* Task 2 */
button:hover{
  background-color:black;
  color:white;
}


/* Task 3 */
p::first-line{
  color: red;
}

/* Task 4 */
h2+p:first-letter{
  color: blue;
}
